<div class="sidenav">
  <div class="hole"></div>
  <div class="logo">
  <%= link_to  '/' do %>
    <%= image_tag 'logo_dark.png' %>
  <% end %>
  </div>
  <div class="link">
      <ul>
        <li><%= link_to "CETTE SEMAINE", '/about_us'%></li>
        <li><%= link_to "événements", '/events'%></li>
        <li style="text-decoration:overline"><strong><%= link_to "ARTISTES", '/artistes'%></strong></li>
        <li><%= link_to "A PROPOS", '/about_us'%></li>
      </ul>

  </div>
  <div class="about">
      <p>CONTACT</p>
      <div class="social_icons">
        <a href="https://www.facebook.com/SoundsInBordeaux/?fref=ts">	<%= image_tag 'fb.svg' %></a>
        <a href="https://twitter.com/SoundsBordeaux">	<%= image_tag 'twitter.svg' %></a>
        <a href="https://www.instagram.com/soundsinbordeaux/">	<%= image_tag 'instagram.svg' %></a>
      </div>
  </div>

</div>
<div class="grid">
  <div class="grid-item">
    <% @artistes.each do |artiste| %>
        <%= artiste.name %>
        <%= artiste.image %>
        <%= link_to 'Détails', artiste_path(artiste) %>
  </div>
    <% end %>
</div>
