<div class="sidenav">
  <div class="hole"></div>
  <div class="logo">
  <%= link_to  '/' do %>
    <%= image_tag 'logo_dark.png' %>
  <% end %>
  </div>
  <div class="link">
      <ul>
        <li><%= link_to "CETTE SEMAINE", '/about_us'%></li>
        <li><%= link_to "événements", '/events'%></li>
        <li><%= link_to "ARTISTES", '/artistes'%></li>
        <li style="text-decoration:overline"><strong><%= link_to "A PROPOS", '/about_us'%></strong></li>
      </ul>
  </div>
  <div class="about">
      <p>CONTACT</p>
      <div class="social_icons">
        <a href="https://www.facebook.com/SoundsInBordeaux/?fref=ts">	<%= image_tag 'fb.svg' %></a>
        <a href="https://twitter.com/SoundsBordeaux">	<%= image_tag 'twitter.svg' %></a>
        <a href="https://www.instagram.com/soundsinbordeaux/">	<%= image_tag 'instagram.svg' %></a>
      </div>
  </div>

</div>
<div class="container">

<h1> SOUNDS IN BORDEAUX </h1>

  <p> Retrouvez toutes les  sorties, concerts et festivals de musique electro à Bordeaux </p>
<div class="grid">
  <% @about_us.each do |about_u| %>
    <div class="grid-item">
      <%= about_u.name %>
      <%= about_u.description %>
      <%= about_u.image %>
    </div>
  <% end %>
</div>
</div>
